*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(hq-todofondos-4KparaPC26.jpg);
    background-size: cover;
    background-position: center;

}


.wrapper{
    width: 420px;
    background: transparent;
    color:#9994e0;
    border-radius: 10px;
    padding: 30px 40px ;
    border: 5px solid #9994e0;
    border-top-right-radius: 50px ;
    border-bottom-left-radius: 50px;
    }

    .wrapper img{
        width: 100%;
        height: 92px;
        flex-shrink: 0;
        text-align: center;
        position: center ;
     
    
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
  position: relative;
    width: 100%;
    height: 50px;
    background: #ffff ;
    margin: 30px 0;
}

.wrapper .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 16px;
    color: #9994e0;
    padding: 20px 45px 20px 20px ;

}

.input-box input::placeholder{
    color: #9994e0;

}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background: transparent;
    color: #9089f8;

}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}

 .btn {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    background-color: #9994e0;
    text-align: center;
    margin: 0;
    padding: 15px 30px;
    font-weight: 700;
    width: 100%; 
    border-radius: 10px;
    margin: 0 5px; 
   

}

.wrapper .register-link  {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 20px;
    }
    
    .register-link p a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 600;
    
    }
    
    .register-link p a:hover{
        text-decoration: underline;
    }
    

    